.l-cards {
  --padCard: 3em 2em 3em 4em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(34.7em, 1fr));
  align-content: flex-start;
  gap: 2em;
  padding: var(--padCard);
  background: var(--gray2);
  @include respond(tablet) {
    --padCard: 3em;
    grid-template-columns: repeat(auto-fit, minmax(33.7em, 1fr));
  }

  @include respond(desktop) {
    --padCard: 4em 6em;
  }
}
