:root {
  --black: #000000;
  --white: #ffffff;
  --blue0: #f3f4f9;
  --blue1: #34abe0;
  --gray0: #333333;
  --gray1: #c4c4c4;
  --gray2: #fafafa;
  --gray3: #8c8c8c;
  --gray4: #7f7f7f;
  --red: #df212d;

  // transitions
  --durationSidebar: 400ms;
  --durationTextAppearing: 350ms;
  --durationHamburger: 400ms;

  // dimentions
  --sbWidth: 24em;
}
